.tema-base,
.tema-base.btn:hover {
    background-color: #40026c;
    border-color: #40026c;
}

.foto-cliente {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text,
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-foto {
    max-height: 100%;
}
.card {
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 1.25em;
}

#lista-clientes {
    display: block;
    margin: 50px auto;
    max-width: 300px;
}

@media (min-width: 425px) {
    #lista-clientes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.25em;
        max-width: 100%;
    }
    .card {
        max-width: calc(50% - 0.75em);
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    #lista-clientes {
        display: block;
        max-width: 100%;
    }
    .card {
        max-width: 100%;
        margin-bottom: 1.25em;
    }
}
